<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">


<th:block layout:fragment="head">
    <title>Spring boot</title>

    <!-- css -->
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous">

</th:block>

<body>
<th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>

<div class="p-3" style="margin: 20px 20px; background-color: mediumspringgreen; text-align: center;">
    <div style="text-align: center;" th:text="|${preferSex}s list!|">

    </div>
</div>
<div class="container py-3" style="margin-top:50px;">
    <div style="text-align: right;">
        <button type="button" style="border:0.1em solid black; background-color: aqua; margin-bottom: 20px; padding: 10px 10px;" th:onclick="@{review_write_page}">ADD Review</button>
    </div>
    <div class="d-flex row row-cols-1 row-cols-md-3 mb-3" style="text-align: center;" >
        <div class="col" style="padding-right:10px; padding-left:10px;" th:each="review:${reviews}">
            <div style="background-color:mediumspringgreen">
                <a th:href="|@{review_view(id=${review.id})}|">
                    <img th:src="|/image/${review.mainPic}|" style="width: 150px; height:150px; margin: 20px 20px 20px 20px;"/>
                </a>

                <div style="margin: 20px 20px;">
                    <h6 th:text="${review.title}"></h6>
                    <h6 th:text="Rank +':'+${review.star}"></h6>
                    <div style="padding-top:20px;" th:text="${review.content}">
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div id="page" style="text-align: center">

    </div>

</div>
<th:block layout:fragment="script">
    <script text="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        let pageSize = /*[[${pageSize}]]*/;
        let firstPage = /*[[${firstPage}]]*/;
        let balance = pageSize - firstPage;
        let sex = /*[[${preferSex}]]*/;

        let leftPage;
        if(firstPage<10){
            leftPage = 1;
        }else{
            leftPage=firstPage-10;
        }



        const pageGenerator = ()=>{
            let end;
            if(balance<10){
                end = pageSize+1;
            }
            else{
                end = firstPage + 10;
            }
            let element = document.createElement('a');
            element.setAttribute("href","review_main?prefersex="+sex+"&page="+1);
            let text = document.createTextNode("First");
            element.appendChild(text);
            let pageContainer = document.getElementById("page");
            pageContainer.insertAdjacentElement("beforeend",element);

            element = document.createElement('a');
            element.setAttribute("href","review_main?prefersex="+sex+"&page="+leftPage);
            text = document.createTextNode("<");
            element.appendChild(text);
            pageContainer = document.getElementById("page");
            pageContainer.insertAdjacentElement("beforeend",element);

            for(let i=firstPage;i<end;i++){
                let element = document.createElement('a');
                element.setAttribute("href","review_main?prefersex="+sex+"&page="+i);
                let text = document.createTextNode(" "+i);
                element.appendChild(text);
                let pageContainer = document.getElementById("page");
                pageContainer.insertAdjacentElement("beforeend",element);

            }

            element = document.createElement('a');
            element.setAttribute("href","review_main?prefersex="+sex+"&page="+end);
            text = document.createTextNode(">");
            element.appendChild(text);
            pageContainer = document.getElementById("page");
            pageContainer.insertAdjacentElement("beforeend",element);

            element = document.createElement('a');
            element.setAttribute("href","review_main?prefersex="+sex+"&page="+pageSize);
            text = document.createTextNode("Last");
            element.appendChild(text);
            pageContainer = document.getElementById("page");
            pageContainer.insertAdjacentElement("beforeend",element);
        }

        document.addEventListener("DOMContentLoaded",pageGenerator)
        /*]]>*/
    </script>
</th:block>

<th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
</body>
</html>