<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">


<th:block layout:fragment="head">
    <title>Spring boot</title>

    <!-- css -->
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous">

</th:block>
<body
        style="background: rgb(246,189,251);
    background: linear-gradient(90deg, rgba(246,189,251,1) 0%, rgba(255,223,254,1) 48%, rgba(240,196,255,100) 100%);
    "
>
<th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
<!-- 가운데 정렬 : margin-top:20%로 합의. -->
<div
        style="background-color: white;
            margin-top: 20%;
            width:100%;
            height:100%;"
>
    <form method="post" class="m-3 p-3" style="text-align: center;" th:action="@{/sign_up_final}" enctype="multipart/form-data">
        <fieldset style="width:100%">
            <div style="width:100%">
                <img src="/image/logo_fastventure.png" style="margin: auto; max-width: 100%; height: auto;"/>
                <div class="signup-form__catchphrase">SIGN IN</div>
            </div>
            Email : <br><input type="email" name="email" id="email" class="my-2"/>
            <br>
            Password : <br><input type="text" name="password" id="password" class="my-2"/>
            <br>
            Check Password : <br><input type="text" name="passwordCheck" id="passwordCheck" class="my-2"/>
            <br>
            Nickname : <br><input type="text" name="nickname" id="nickname" class="my-2"/>
            <br>
            Your Profile pic : <br><input type="file" name="profile_pic" accept="image/*"/>
            <br>
            Your background pic : <br><input type="file" name="background_pic" accept="image/*"/>
            <br>
            Your Prefer Sex to choose Sex Toy :
            <br>
            <input type="text" name="prefersex" id="prefersex" placeholder="please type only 3 element. mmt,wmt,cpt">
            <button></button>
            <input type="submit" value="submit"/>
            <input type="reset" value="reset"/>
        </fieldset>
    </form>
</div>
<th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
</body>

</html>