<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- This is Footer -->
<div class="mt-5 p-3"style="width: 100%;  height: auto; background-color: rgb(204, 236, 255);">
  <div class="p-2 my-2 d-flex justify-content-end">
    <button type="button" style="border: none; background-color:antiquewhite;">
      <a href="counsel_page.html" style="color: black;">CS Center</a>
    </button>
  </div>
  <div class="p-2  d-flex flex-column  justify-content-center" style="text-align: center;">
    <h5 class="p-2">Contact : mail@mail.com</h5>
      <h5 class="p-2">Contact : mail@mail.com</h5>
        <h5 class="p-2">Contact : mail@mail.com</h5>
          <h5 class="p-2">Contact : mail@mail.com</h5>
            <h5 class="p-2">Contact : mail@mail.com</h5>
  </div>
</div>
</html>