<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- This is Navbar -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
<nav
        class="navbar navbar-expand-sm navbar-light bg-light"
        aria-label="Third navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SReview</a>
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarsExample03"
            aria-controls="navbarsExample03"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{signin}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{sign_in_part_1}">Sign In</a>
        </li>
        <li class="nav-item dropdown">
          <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">Sex Toy</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" th:href="|@{review_main(prefersex=wmt)}&page=1|">Women Masturbation Toy</a>
            </li>
            <li>
              <a class="dropdown-item" th:href="|@{review_main(prefersex=wmt)}&page=1|">Man Masturbation Toy</a>
            </li>
            <li>
              <a class="dropdown-item" th:href="|@{review_main(prefersex=wmt)}&page=1|">Couple Sex Toy</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="d-flex justify-content-center">
        <form role="search">
          <input
                  class="form-control px-2 me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"></form>
        <button type="submit" class="btn btn-dark px-2 ms-2">GO</button>

      </div>

    </div>
  </div>
</nav>
</html>